/*
    Name: Akhila Ann Mariya
    Student Id: 8776854
    Email: akhilaannmariya6854@conestogac.on.ca
*/

body{
    width: 1100px;
    margin: 10px auto;
    box-shadow: 0 0 10px black;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

header, footer{
    background-color: #4177a4;
    padding: 10px 0;
    text-align: center;
    color: white;
}

header h2{
    font-size: 32px;
}

nav{
    background-color: #9bbbe1;
    padding: 5px;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    position: relative;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-weight: bold;
}

main h1{
    color: #113253;
    font-size: 32px;
    text-align: center;
}

aside h2{
    color: #113253;
    font-size: 28px;
    text-align: center;
}

.home>header{
    grid-area: gridheader;
}
.home>nav{
    grid-area: gridnav;
}
.home>main{
    grid-area: gridmain;
}
.home>aside{
    grid-area: gridaside;
}
.home>footer{
    grid-area: gridfooter;
}

.home{
    display: grid;
    grid-template-areas: 
        "gridheader gridheader gridheader"
        "gridnav gridnav gridnav"
        "gridmain gridmain gridaside"
        "gridfooter gridfooter gridfooter"
    ;
}

.home aside{
    background-color:#b4d1f2;
    padding: 0 20px 20px 20px;
}
.home main{
    padding: 0 15px 10px 0;
}

nav ul li ul {
    width: 150px;
    background-color: #113253;
    position: absolute;
    z-index: 999;
    text-align: left;
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li:hover {
    background-color: #4177a4;
}

form{
    width: 100%;
    padding: 10px;
}

label{
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

input, textarea{
    margin: 5px;
}

input[type=submit]{
    width: 90%;
}

table, th, td{
    border: 3px dotted white;
    border-collapse: collapse;
}

table{
    width: 90%;
    margin-top: 20px;
}

td, th{
    padding: 5px;
}

section img {
    width: 100%;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
}

video{
    width: 100%;
}

@media only screen and (max-width: 600px) {

    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin-bottom: 15px;
    }

    section img {
        width: 100%;
    }

    body{
        width: 90%;
        margin: 10px auto;
        box-shadow: 0 0 10px black;
        padding: 20px;
        border-radius: 10px;
        font-size: 20px;
    }

    .home aside{
        background-color:#b4d1f2;
        padding: 0 20px 20px 20px;
    }
    .home main{
        padding: 0 15px 10px 0;
    }

    .home>header{
        grid-area: gridheader;
    }
    .home>nav{
        grid-area: gridnav;
    }
    .home>main{
        grid-area: gridmain;
    }
    .home>aside{
        grid-area: gridaside;
    }
    .home>footer{
        grid-area: gridfooter;
    }
    
    .home{
        display: grid;
        grid-template-areas: 
            "gridheader gridheader gridheader"
            "gridnav gridnav gridnav"
            "gridmain gridmain gridmain" 
            "gridaside gridaside gridaside"
            "gridfooter gridfooter gridfooter"
        ;
    }

    label{
        width: 25%;
    }

    input[type=submit]{
        width: 65%;
    }


}


